@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-background: #000;
  --color-foreground: #fff;
  --color-muted: #525252;
  --color-subtle: #a3a3a3;
  --color-selection: #003237;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-site);
}
