---
import Layout from "../layout.astro";
import clsx from "clsx"
import { MdArrowOutward } from "react-icons/md";

const links = [
	{
		name: "github",
		href: "https://github.com/spheceo"
	},
	{
		name: "twitter",
		href: "https://x.com/spheceo"
	},
	{
		name: "discord",
		href: "https://discord.gg/fjAwKNHBqT"
	},
	// {
	// 	name: "create-stk",
	// 	href: "https://create-stk.vercel.app"
	// },
	// {
	// 	name: "s2-leads-api",
	// 	href: "https://s2-leads-api.vercel.app/"
	// },
]

---

<Layout>
    <div class="h-dvh w-dvw absolute -z-10 overflow-hidden motion-delay-500 motion-preset-fade motion-duration-5000">
        <div class="absolute bottom-0 z-10 bg-linear-to-t from-black to-transparent w-full h-1/12"/>
      <img src={`/cover/01.png`} class="absolute object-cover opacity-100 top-100"/>
    </div>
    
	<div class="max-w-xs w-full mx-auto motion-delay-500 motion-blur-in-xl motion-duration-500">
		<!-- Header -->
		<header class="mb-16 motion-delay-500 motion-opacity-in-0 motion-translate-y-in-150">
			<h1 class="text-2xl">sphe</h1>
			<p class="text-muted mt-1 text-sm">building great products.</p>
		</header>

		<!-- Links -->
		<nav class="flex flex-col w-full gap-5">
			{links.map((l, i) => (
				<div style={`--motion-delay: ${700 + i * 200}ms`} class="group w-full cursor-pointer motion-opacity-in-0 motion-translate-y-in-150">
					<div class="flex items-center justify-between">
						<a href={l.href} class="text-subtle block my-1 transition-all duration-400 hover:text-foreground" target={clsx(l.href.startsWith("http") ? "_blank" : undefined)}>
							{l.name}
						</a>
						<span class="transition-all duration-400 opacity-0 group-hover:opacity-100 text-muted">
							<MdArrowOutward size={14}/>
						</span>
					</div>
					<div class="bg-white h-px transition-all duration-400 ease-in-out origin-left scale-x-0 group-hover:scale-x-100" />
				</div>
			))}
		</nav>
	</div>
</Layout>
