---
import { Font } from "astro:assets";
import "./globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>sphe</title>
		<meta name="description" content="building great products.">
        <Font cssVariable="--font-site" preload />
	</head>
	<body class="flex flex-col justify-center items-center h-dvh selection:bg-selection">
        <slot />
	</body>
</html>
