---
import { Font } from "astro:assets";
import clsx from "clsx";
import "./globals.css";

const { class: bodyClass = "" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>sphe</title>
		<meta name="description" content="building great products.">
        <Font cssVariable="--font-site" preload />
	</head>
	<body class={clsx("h-dvh selection:bg-selection", bodyClass)}>
        <slot />
	</body>
</html>
